<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <title>Pseudocode</title>
</head>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/javascript.js"></script>
</body>

</html>