<h1>Pseudocode</h1>

<h2>Items that have not been completed</h2>

<ul>
    {{#each tasks}}
    {{#unless completed}}
    {{> PC/PC-block completed=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Items that have been completed</h2>

<ul>
    {{#each tasks}}
    {{#if completed}}
    {{> PC/PC-block completed=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Task</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Task Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="completed">completed?</label><br>
        <input type="radio" name="completed" value="1" checked> completed<br>
        <input type="radio" name="completed" value="0"> not completed
    </div>

    <button type="submit">Add Task</button>
</form>